[submodule ".vim/pack/kdm/airline"]
	path = .vim/pack/kdm/airline
	url  = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/kdm/airlineish"]
	path = .vim/pack/kdm/airlineish
	url  = https://github.com/paranoida/vim-airlineish
[submodule ".vim/pack/kdm/ale"]
	path = .vim/pack/kdm/ale
	url  = https://github.com/w0rp/ale
[submodule ".vim/pack/kdm/brogrammer-theme"]
	path = .vim/pack/kdm/brogrammer-theme
	url  = https://github.com/kmalinich/vim-brogrammer-theme
[submodule ".vim/pack/kdm/css-color"]
	path = .vim/pack/kdm/css-color
	url  = https://github.com/ap/vim-css-color
[submodule ".vim/pack/kdm/coc.nvim"]
	path = .vim/pack/kdm/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/pack/kdm/fugitive"]
	path = .vim/pack/kdm/fugitive
	url  = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/kdm/haproxy"]
	path = .vim/pack/kdm/haproxy
	url  = https://github.com/zimbatm/haproxy.vim
[submodule ".vim/pack/kdm/hexmode"]
	path = .vim/pack/kdm/hexmode
	url  = https://github.com/fidian/hexmode
[submodule ".vim/pack/kdm/illuminate"]
	path = .vim/pack/kdm/illuminate
	url = https://github.com/RRethy/vim-illuminate
[submodule ".vim/pack/kdm/interfaces"]
	path = .vim/pack/kdm/interfaces
	url  = https://github.com/vim-scripts/interfaces
[submodule ".vim/pack/kdm/javascript"]
	path = .vim/pack/kdm/javascript
	url  = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/kdm/javascript-libraries-syntax"]
	path = .vim/pack/kdm/javascript-libraries-syntax
	url  = https://github.com/othree/javascript-libraries-syntax.vim
[submodule ".vim/pack/kdm/kickstart"]
	path = .vim/pack/kdm/kickstart
	url = https://github.com/tangledhelix/vim-kickstart
[submodule ".vim/pack/kdm/local-vimrc"]
	path = .vim/pack/kdm/local-vimrc
	url  = https://github.com/MarcWeber/vim-addon-local-vimrc
[submodule ".vim/pack/kdm/logrotate"]
	path = .vim/pack/kdm/logrotate
	url  = https://github.com/moon-musick/vim-logrotate
[submodule ".vim/pack/kdm/polyglot"]
	path = .vim/pack/kdm/polyglot
	url  = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/kdm/salt"]
	path = .vim/pack/kdm/salt
	url  = https://github.com/saltstack/salt-vim
[submodule ".vim/pack/kdm/salt-jinja"]
	path = .vim/pack/kdm/salt-jinja
	url  = https://github.com/kmalinich/salt-jinja-vim
[submodule ".vim/pack/kdm/securemodelines"]
	path = .vim/pack/kdm/securemodelines
	url = https://github.com/ciaranm/securemodelines
