[include]
	path = ~/.gitconfig.d/alias
	path = ~/.gitconfig.d/apply
	path = ~/.gitconfig.d/color
	path = ~/.gitconfig.d/commit
	path = ~/.gitconfig.d/core
	path = ~/.gitconfig.d/filter
	path = ~/.gitconfig.d/grep
	path = ~/.gitconfig.d/init
	path = ~/.gitconfig.d/merge
	path = ~/.gitconfig.d/pull
	path = ~/.gitconfig.d/push
	path = ~/.gitconfig.d/submodule
	path = ~/.gitconfig.d/url-priv
	path = ~/.gitconfig.d/url-pub
	path = ~/.gitconfig.d/user


# vim: set filetype=gitconfig ts=2 sw=2 tw=0 noet :
