# kdm bash-env
# .inputrc

# Include global inputrc files
$include /etc/inputrc
$include /usr/local/etc/inputrc
$include /opt/homebrew/etc/inputrc


# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set convert-meta off
set input-meta   on
set output-meta  on


# Do not bell on tab-completion
set bell-style none

# Enable tab-completion regardless of filename case
set completion-ignore-case on

# Common prefixes longer than 5 are replaced with an ellipsis when displaying possible completions
set completion-prefix-display-length 5

# Enable returning up to 500 tab-completions without having to be asked
set completion-query-items 500

# Don't expand the home dir tilde (~)
set expand-tilde off

# Scroll text horizontally on a single line when longer than the width of the screen, instead of wrapping onto a new line
# set horizontal-scroll-mode on

# Attempt to place the cursor position at the same location on each history line retrieved with previous-history or next-history
set history-preserve-point on

# Tab-completed directory names have a slash appended
set mark-directories on

# Immediately add a trailing slash when tab-completing symlinks to directories
set mark-symlinked-directories on

# Do not tab-complete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Turn off the use of the internal pager when returning long tab-completion lists
set page-completions off

# Display completions with matches sorted horizontally in alphabetical order, rather than down the screen
set print-completions-horizontally off

# Only require single tab key press for tab-completion
# (Default is double tab key press)
set show-all-if-ambiguous on

# Words which have more than one possible completion without any possible partial completion (the possible completions don't share a common prefix)
# cause the matches to be listed immediately instead of ringing the bell
set show-all-if-unmodified on

# Be more intelligent when tab-completing, by also looking at the text after the cursor
#
# Example:
# When the current line is "cd ~/src/mozil", with the cursor on "z",
# pressing tab key will not tab-complete it to "cd ~/src/mozillail", but to "cd ~/src/mozilla"
#
# (This is supported by the Readline used by Bash 4)
set skip-completed-text on

# Suffix each returned file tab-completion with a character denoting its type
set visible-stats on

# Colored file types
set colored-stats on


# The below keys are configured with this setup in mind:
# - macOS
# - iTerm2 with Option key(s) set to 'Esc+'
# - Aluminum USB Apple Keyboard with keypad (model A1243)

# Aluminum USB Apple Keyboard key codes:
# Delete forward : \e[3~
#        Page up : \e[5~
#      Page down : \e[6~
#             F1 : \e[11~
#             F2 : \e[12~
#             F3 : \e[13~
#             F4 : \e[14~
#             F5 : \e[15~
#             F6 : \e[17~
#             F7 : \e[18~
#             F8 : \e[19~
#             F9 : \e[20~
#            F10 : \e[21~
#            F11 : \e[23~
#            F12 : \e[24~
#            F13 : \e[25~
#            F14 : ??
#            F15 : ??
#            F16 : \e[29~
#            F17 : \e[31~
#            F18 : \e[32~
#            F19 : \e[33~

# Delete-forward : Delete following character
"\e[3~": delete-char

# Page up : Move backwards through completion history
"\e[5~": history-search-backward

# Page down : Move forwards through completion history
"\e[6~": history-search-forward


# F5 : Reload ~/.inputrc
"\e[15~": re-read-init-file

# F6 :
# "\e[17~":


# F13 : Insert open and close double-quotes and move to just after the open double-quote
# "\e[25~": "\"\"\C-b"


# F16 : Insert open and close single-quotes and move to just after the open single-quote
# (Like when you're about to type JSON)
# "\e[29~": "\'\'\C-b"

# F17 : Insert open and close double-quotes and move to just after the open double-quote
# "\e[31~": "\"\"\C-b"

# F18 : Double-quote the current or previous word
# "\e[32~": "\eb\"\ef\""

# F19 : Escaped-double-quote the current or previous word
# "\e[33~": "\eb\\\"\ef\\\""


# F__ : Single-quote the current or previous word
# "\e[~": "\eb\'\ef\'"


# Option + c : Capitalize current word
"\ec": capitalize-word

# Option + l : lowercase current word
"\el": downcase-word

# Option + u : UPPERCASE current word
"\eu": upcase-word


# Option + p : Edit PATH variable
"\ep": "export PATH=${PATH}\e\C-e\"\C-a\ef\ef\C-f:\C-b\""


# Option + x : Change dir to last word of last command and run 'lll'
"\ex": 'cd !$ \015lll\015'

# Option + z : Undo a dir change
"\ez": 'cd -\015'
