# kdm bash-env
# .inputrc

# Include global inputrc files
$include /etc/inputrc
$include /usr/local/etc/inputrc


# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set convert-meta off
set input-meta   on
set output-meta  on


# Do not bell on tab-completion
set bell-style none

# Enable tab-completion regardless of filename case
set completion-ignore-case on

# Enable returning up to 500 tab-completions without having to be asked
set completion-query-items 500

# Don't expand the home dir tilde (~)
set expand-tilde off

set mark-directories on

# Immediately add a trailing slash when tab-completing symlinks to directories
set mark-symlinked-directories on

# Do not tab-complete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Turn off the use of the internal pager when returning long tab-completion lists
set page-completions off

# Only require single tab key press for tab-completion
# (Default is double tab key press
set show-all-if-ambiguous on

# Be more intelligent when tab-completing, by also looking at the text after the cursor
#
# Example:
# When the current line is "cd ~/src/mozil", with the cursor on "z",
# pressing tab key will not tab-complete it to "cd ~/src/mozillail", but to "cd ~/src/mozilla"
#
# (This is supported by the Readline used by Bash 4)
set skip-completed-text on

# Suffix each returned file tab-completion with a character denoting its type
set visible-stats on


# List all matches in case multiple possible tab-completions are possible
set completion-prefix-display-length 10
set print-completions-horizontally off
set show-all-if-unmodified on

# set horizontal-scroll-mode off
# set history-preserve-point on


# Reload ~/.inputrc
"\C-xr": re-read-init-file

# Escape code handlers for shells missing them
"\e[3~": delete-char
"\e[5~": history-search-backward
"\e[6~": history-search-forward

# Use Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word

# Macros that are convenient for shell interaction
$if Bash
	# Edit PATH variable
	"\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\C-f"

	# Prepare to type a quoted word --
	# insert open and close double quotes
	# and move to just after the open quote
	"\C-x\"": "\"\"\C-b"

	# Quote the current or previous word
	"\C-xq": "\eb\"\ef\""

	# Edit variable on current line
	"\M-\C-v": "\C-a\C-k$\C-y\M-\C-e\C-a\C-y="

	# Undo a directory change with Alt/Meta + z
	"Ω": 'cd -\015'
$endif
