{
	"extends": "stylelint-config-standard",

	"plugins": [
		"stylelint-order",
		"stylelint-scss"
	],

	"rules": {
		"comment-no-empty": true,
		"declaration-block-no-redundant-longhand-properties": true,
		"indentation": "tab",
		"max-empty-lines": 2,
		"no-empty-source": true,
		"shorthand-property-no-redundant-values": true,

		"order/properties-alphabetical-order" : true,
		"order/order"                         : [
			"custom-properties",
			"declarations"
		],

		"selector-type-no-unknown": [ true, {
			"severity": "warning",
			"ignoreTypes": [
				"/^ng-/",
				"/^ui-/",
				"/^wz-/"
			]
		} ],

		"declaration-block-no-duplicate-properties": [ true, {
			"severity": "warning",
			"ignore": [
				"consecutive-duplicates-with-different-values"
			]
		} ],

		"at-rule-no-unknown":                                [ true, { "severity": "warning" } ],
		"block-no-empty":                                    [ true, { "severity": "warning" } ],
		"color-no-invalid-hex":                              [ true, { "severity": "warning" } ],
		"declaration-block-no-shorthand-property-overrides": [ true, { "severity": "warning" } ],
		"font-family-no-duplicate-names":                    [ true, { "severity": "warning" } ],
		"function-calc-no-unspaced-operator":                [ true, { "severity": "warning" } ],
		"function-linear-gradient-no-nonstandard-direction": [ true, { "severity": "warning" } ],
		"keyframe-declaration-no-important":                 [ true, { "severity": "warning" } ],
		"media-feature-name-no-unknown":                     [ true, { "severity": "warning" } ],
		"no-extra-semicolons":                               [ true, { "severity": "warning" } ],
		"no-invalid-double-slash-comments":                  [ true, { "severity": "warning" } ],
		"property-no-unknown":                               [ true, { "severity": "warning" } ],
		"selector-pseudo-class-no-unknown":                  [ true, { "severity": "warning" } ],
		"selector-pseudo-element-no-unknown":                [ true, { "severity": "warning" } ],
		"string-no-newline":                                 [ true, { "severity": "warning" } ],
		"unit-no-unknown":                                   [ true, { "severity": "warning" } ]
	}
}
